path {
  stroke: #5A5A5A;
  stroke-width: 0.25px;
  fill: #E1E1E1;
  height: 100%;
  width: width;
  margin: 15px;
}

#map {
	width: 84%; 
	background-color: #E1E1E1;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 1%;
	padding: 5%;
	position: absolute;
}

g {
	height: 100%;
	width: 100%;
}

#title-box {
	height: 40px;
	width: 230px;
	background-color: #D6FF5C;
	position: absolute;
	margin-left: 4.5%;
	margin-top: 30px;
	padding: 0 7px 0 7px;
	overflow:hidden;
	cursor: default;
}

.title-text {
	font-size: 11.5pt;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 100;
	text-align: center;
}

#description-box {
	width: 230px;
	background-color: #D6FF5C;
	position: absolute;
	margin-left: 4.5%;
	margin-top: 55px;
	padding: 0 7px 0 7px;
	opacity: 0;
	pointer-events: none;
}

#description-text {
	font-size: 10pt;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 100;
	text-align: center;
}

#q-mark {
	position: absolute;
	text-align: right;
	float: right;
	margin-left: 24px;
	margin-top: 12px;
}

#top-words-container{
	background-color: #727272;
	width: 350px;
	height: 115px;
	position: absolute;
	margin-top: 555px;
	left: 36%;
	opacity: 0;
	padding: 0 7px 0 7px;
}

#top-words-upper{
	width: 100%;
	display: inline-block;
	float: top;
	padding: 6px 0;
}

#top-words-left{
	width: 50%;
	display: inline-block;
	float: left;
}

#top-words-right{
	width: 50%;
	display: inline-block;
	float: right;
}

#top-words-title {
	font-size: 10pt;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 400;
	color: #FFF;
	display: block;
	text-align: center;
	margin-top: 5px;
	width: 100%;
}

.top-words-text{
	font-size: 10pt;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 100;
	text-align: left;
	color: #FFF;
	margin: 5px;
	overflow: hidden;
}

#colour-label{
	background-color: #727272;
	height: 17px;
	position: absolute;
	margin-top: 640px;
	left: 126px;
	padding: 7px 15px;
	opacity: 0;
}

.label-text{
	font-size: 10pt;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 400;
	color: #FFF;
	width: 100%;
	text-align: center;
}



